apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodeapp
  template:
    metadata:
      labels:
        app: nodeapp
    spec:
      containers:
      - name: nodeapp
        image: 822233328858.dkr.ecr.us-east-1.amazonaws.com/youssefwaheeds/nodeapp:v1.1
        ports:
        - containerPort: 80
      imagePullSecrets:
      - name: ecr-creds